HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="CabinClassConfigurationNotFoundException" type="tns:CabinClassConfigurationNotFoundException"/>

<xs:element name="CreditCardNotFoundException" type="tns:CreditCardNotFoundException"/>

<xs:element name="CustomerNotFoundException" type="tns:CustomerNotFoundException"/>

<xs:element name="FlightSchedulePlanNotFoundException" type="tns:FlightSchedulePlanNotFoundException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="NoFlightsAvailableException" type="tns:NoFlightsAvailableException"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="SeatInventoryNotFoundException" type="tns:SeatInventoryNotFoundException"/>

<xs:element name="SeatNotFoundException" type="tns:SeatNotFoundException"/>

<xs:element name="SeatReservedException" type="tns:SeatReservedException"/>

<xs:element name="TransactionNotFoundException" type="tns:TransactionNotFoundException"/>

<xs:element name="checkFlightScheduleExist" type="tns:checkFlightScheduleExist"/>

<xs:element name="checkFlightScheduleExistResponse" type="tns:checkFlightScheduleExistResponse"/>

<xs:element name="createNewCreditCardCustomer" type="tns:createNewCreditCardCustomer"/>

<xs:element name="createNewCreditCardCustomerResponse" type="tns:createNewCreditCardCustomerResponse"/>

<xs:element name="createNewItinerary" type="tns:createNewItinerary"/>

<xs:element name="createNewItineraryResponse" type="tns:createNewItineraryResponse"/>

<xs:element name="createNewTransaction" type="tns:createNewTransaction"/>

<xs:element name="createNewTransactionResponse" type="tns:createNewTransactionResponse"/>

<xs:element name="getFarePerPax" type="tns:getFarePerPax"/>

<xs:element name="getFarePerPaxResponse" type="tns:getFarePerPaxResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="makePayment" type="tns:makePayment"/>

<xs:element name="makePaymentResponse" type="tns:makePaymentResponse"/>

<xs:element name="reserveSeat" type="tns:reserveSeat"/>

<xs:element name="reserveSeatResponse" type="tns:reserveSeatResponse"/>

<xs:element name="retrieveAllCreditCardCustomer" type="tns:retrieveAllCreditCardCustomer"/>

<xs:element name="retrieveAllCreditCardCustomerResponse" type="tns:retrieveAllCreditCardCustomerResponse"/>

<xs:element name="retrieveAllItineraryItemByTransactionId" type="tns:retrieveAllItineraryItemByTransactionId"/>

<xs:element name="retrieveAllItineraryItemByTransactionIdResponse" type="tns:retrieveAllItineraryItemByTransactionIdResponse"/>

<xs:element name="retrieveAllTransactionByCustomerId" type="tns:retrieveAllTransactionByCustomerId"/>

<xs:element name="retrieveAllTransactionByCustomerIdResponse" type="tns:retrieveAllTransactionByCustomerIdResponse"/>

<xs:element name="retrieveCreditCardById" type="tns:retrieveCreditCardById"/>

<xs:element name="retrieveCreditCardByIdResponse" type="tns:retrieveCreditCardByIdResponse"/>

<xs:element name="retrieveFlightScheduleById" type="tns:retrieveFlightScheduleById"/>

<xs:element name="retrieveFlightScheduleByIdResponse" type="tns:retrieveFlightScheduleByIdResponse"/>

<xs:element name="retrieveSeatById" type="tns:retrieveSeatById"/>

<xs:element name="retrieveSeatByIdResponse" type="tns:retrieveSeatByIdResponse"/>

<xs:element name="retrieveTransactionById" type="tns:retrieveTransactionById"/>

<xs:element name="retrieveTransactionByIdResponse" type="tns:retrieveTransactionByIdResponse"/>

<xs:element name="rollBackSeatsToAvailable" type="tns:rollBackSeatsToAvailable"/>

<xs:element name="rollBackSeatsToAvailableResponse" type="tns:rollBackSeatsToAvailableResponse"/>

<xs:element name="searchOneConnectionFlights" type="tns:searchOneConnectionFlights"/>

<xs:element name="searchOneConnectionFlightsResponse" type="tns:searchOneConnectionFlightsResponse"/>

<xs:element name="searchSingleFlights" type="tns:searchSingleFlights"/>

<xs:element name="searchSingleFlightsResponse" type="tns:searchSingleFlightsResponse"/>

<xs:element name="searchTwoConnectionsFlight" type="tns:searchTwoConnectionsFlight"/>

<xs:element name="searchTwoConnectionsFlightResponse" type="tns:searchTwoConnectionsFlightResponse"/>

<xs:complexType name="makePayment">
<xs:sequence>
<xs:element name="creditCard" type="tns:creditCard" minOccurs="0"/>
<xs:element name="totalFare" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCard">
<xs:sequence>
<xs:element name="creditCardExpiryDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="creditCardId" type="xs:long" minOccurs="0"/>
<xs:element name="creditCardName" type="xs:string" minOccurs="0"/>
<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="cvv" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makePaymentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveTransactionById">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveTransactionByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:transaction" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaction">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="itineraryItems" type="tns:itineraryItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="passengerFirstName" type="xs:string" minOccurs="0"/>
<xs:element name="passengerLastName" type="xs:string" minOccurs="0"/>
<xs:element name="passportNumber" type="xs:long" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:decimal" minOccurs="0"/>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="creditCards" type="tns:creditCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobilePhoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="transactions" type="tns:transaction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itineraryItem">
<xs:sequence>
<xs:element name="cabinClass" type="xs:string" minOccurs="0"/>
<xs:element name="fareAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="fareBasisCode" type="xs:string" minOccurs="0"/>
<xs:element name="flightSchedule" type="tns:flightSchedule" minOccurs="0"/>
<xs:element name="itineraryItemId" type="xs:long" minOccurs="0"/>
<xs:element name="odCode" type="xs:string" minOccurs="0"/>
<xs:element name="odDateTime" type="xs:string" minOccurs="0"/>
<xs:element name="passengerName" type="xs:string" minOccurs="0"/>
<xs:element name="seatNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightSchedule">
<xs:sequence>
<xs:element name="arrivalDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="departureDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="estimatedFlightDuration" type="xs:dateTime" minOccurs="0"/>
<xs:element name="flightScheduleId" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0"/>
<xs:element name="itineraryItems" type="tns:itineraryItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="seatInventories" type="tns:seatInventory" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightSchedulePlan">
<xs:sequence>
<xs:element name="complementaryReturnFlightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0"/>
<xs:element name="enableFlight" type="xs:boolean" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fares" type="tns:fare" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flight" type="tns:flight" minOccurs="0"/>
<xs:element name="flightSchedulePlanId" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedulePlanType" type="tns:flightSchedulePlanType" minOccurs="0"/>
<xs:element name="flightSchedules" type="tns:flightSchedule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="originalFlightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0"/>
<xs:element name="nDays" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fare">
<xs:sequence>
<xs:element name="cabinClassConfiguration" type="tns:cabinClassConfiguration" minOccurs="0"/>
<xs:element name="fareAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="fareBasisCode" type="xs:string" minOccurs="0"/>
<xs:element name="fareId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cabinClassConfiguration">
<xs:sequence>
<xs:element name="aircraftConfiguration" type="tns:aircraftConfiguration" minOccurs="0"/>
<xs:element name="cabinClassConfigurationId" type="xs:long" minOccurs="0"/>
<xs:element name="cabinClassType" type="tns:cabinClassType" minOccurs="0"/>
<xs:element name="cabinMaximumSeatCapacity" type="xs:int" minOccurs="0"/>
<xs:element name="fares" type="tns:fare" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="numberOfAisles" type="xs:int" minOccurs="0"/>
<xs:element name="numberOfRows" type="xs:int" minOccurs="0"/>
<xs:element name="numberOfSeatsAbreast" type="xs:int" minOccurs="0"/>
<xs:element name="seatInventories" type="tns:seatInventory" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="seatingConfiguration" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aircraftConfiguration">
<xs:sequence>
<xs:element name="aircraftConfigurationId" type="xs:long" minOccurs="0"/>
<xs:element name="aircraftConfigurationName" type="xs:string" minOccurs="0"/>
<xs:element name="aircraftType" type="tns:aircraftType" minOccurs="0"/>
<xs:element name="cabinClassConfigurations" type="tns:cabinClassConfiguration" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flights" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="numberOfCabinClasses" type="xs:int" minOccurs="0"/>
<xs:element name="totalMaximumSeatCapacity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aircraftType">
<xs:sequence>
<xs:element name="aircraftTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="aircraftTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="maximumSeatingCapacity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="aircraftConfiguration" type="tns:aircraftConfiguration" minOccurs="0"/>
<xs:element name="complementaryReturnFlight" type="tns:flight" minOccurs="0"/>
<xs:element name="enableFlight" type="xs:boolean" minOccurs="0"/>
<xs:element name="flightId" type="xs:long" minOccurs="0"/>
<xs:element name="flightNumber" type="xs:string" minOccurs="0"/>
<xs:element name="flightRoute" type="tns:flightRoute" minOccurs="0"/>
<xs:element name="flightSchedulePlans" type="tns:flightSchedulePlan" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="originalFlight" type="tns:flight" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightRoute">
<xs:sequence>
<xs:element name="complementaryFlightRoute" type="tns:flightRoute" minOccurs="0"/>
<xs:element name="destinationAirport" type="tns:airport" minOccurs="0"/>
<xs:element name="enabledFlightRoute" type="xs:boolean" minOccurs="0"/>
<xs:element name="flightRouteId" type="xs:long" minOccurs="0"/>
<xs:element name="flights" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="originAirport" type="tns:airport" minOccurs="0"/>
<xs:element name="originalFlightRoute" type="tns:flightRoute" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="airport">
<xs:sequence>
<xs:element name="airportId" type="xs:long" minOccurs="0"/>
<xs:element name="airportName" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="countryState" type="xs:string" minOccurs="0"/>
<xs:element name="destinationFlightRoutes" type="tns:flightRoute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="iataCode" type="xs:string" minOccurs="0"/>
<xs:element name="originFlightRoutes" type="tns:flightRoute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="timeZone" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seatInventory">
<xs:sequence>
<xs:element name="availableSeats" type="xs:int" minOccurs="0"/>
<xs:element name="balanceSeats" type="xs:int" minOccurs="0"/>
<xs:element name="cabinClass" type="tns:cabinClassConfiguration" minOccurs="0"/>
<xs:element name="reservedSeats" type="xs:int" minOccurs="0"/>
<xs:element name="seatInventoryId" type="xs:long" minOccurs="0"/>
<xs:element name="seats" type="tns:seat" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seat">
<xs:sequence>
<xs:element name="rowAlphabet" type="xs:string" minOccurs="0"/>
<xs:element name="seatId" type="xs:long" minOccurs="0"/>
<xs:element name="seatNumber" type="xs:int" minOccurs="0"/>
<xs:element name="seatStatus" type="tns:seatStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="creditCards" type="tns:creditCard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="partnerAccessRights" type="tns:partnerAccessRights" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="partnerTransactions" type="tns:transaction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransactionNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchTwoConnectionsFlight">
<xs:sequence>
<xs:element name="departureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="destinationAirport" type="xs:string" minOccurs="0"/>
<xs:element name="departureDateString" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfTravellers" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchTwoConnectionsFlightResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoFlightsAvailableException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewItinerary">
<xs:sequence>
<xs:element name="itineraryItem" type="tns:itineraryItem" minOccurs="0"/>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
<xs:element name="flightScheduleId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewItineraryResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightSchedulePlanNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllItineraryItemByTransactionId">
<xs:sequence>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllItineraryItemByTransactionIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:itineraryItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSingleFlights">
<xs:sequence>
<xs:element name="departureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="destinationAirport" type="xs:string" minOccurs="0"/>
<xs:element name="departureDateString" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfTravellers" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSingleFlightsResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkFlightScheduleExist">
<xs:sequence>
<xs:element name="flightScheduleId" type="xs:long" minOccurs="0"/>
<xs:element name="cabinClassType" type="tns:cabinClassType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkFlightScheduleExistResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CabinClassConfigurationNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewCreditCardCustomer">
<xs:sequence>
<xs:element name="creditCard" type="tns:creditCard" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewCreditCardCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CustomerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllTransactionByCustomerId">
<xs:sequence>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllTransactionByCustomerIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:transaction" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewTransaction">
<xs:sequence>
<xs:element name="transaction" type="tns:transaction" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllCreditCardCustomer">
<xs:sequence>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllCreditCardCustomerResponse">
<xs:sequence>
<xs:element name="return" type="tns:creditCard" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchOneConnectionFlights">
<xs:sequence>
<xs:element name="departureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="destinationAirport" type="xs:string" minOccurs="0"/>
<xs:element name="departureDateString" type="xs:string" minOccurs="0"/>
<xs:element name="numberOfTravellers" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchOneConnectionFlightsResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightScheduleById">
<xs:sequence>
<xs:element name="flightScheduleId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightScheduleByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFarePerPax">
<xs:sequence>
<xs:element name="flightSchedule" type="tns:flightSchedule" minOccurs="0"/>
<xs:element name="seatInventory" type="tns:seatInventory" minOccurs="0"/>
<xs:element name="object" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFarePerPaxResponse">
<xs:sequence>
<xs:element name="return" type="tns:fare" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rollBackSeatsToAvailable">
<xs:sequence>
<xs:element name="seatId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rollBackSeatsToAvailableResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SeatNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveSeatById">
<xs:sequence>
<xs:element name="seatId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveSeatByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:seat" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveSeat">
<xs:sequence>
<xs:element name="flightSchedule" type="tns:flightSchedule" minOccurs="0"/>
<xs:element name="cabinClassType" type="tns:cabinClassType" minOccurs="0"/>
<xs:element name="seatRow" type="xs:int" minOccurs="0"/>
<xs:element name="seatCol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveSeatResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeatInventoryNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeatReservedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCreditCardById">
<xs:sequence>
<xs:element name="creditCardId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveCreditCardByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:creditCard" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreditCardNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="cabinClassType">
<xs:restriction base="xs:string">
<xs:enumeration value="FIRST_CLASS"/>
<xs:enumeration value="BUSINESS_CLASS"/>
<xs:enumeration value="ECONOMY"/>
<xs:enumeration value="PREMIUM_ECONOMY"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="seatStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="RESERVED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="flightSchedulePlanType">
<xs:restriction base="xs:string">
<xs:enumeration value="SINGLE"/>
<xs:enumeration value="MULTIPLE"/>
<xs:enumeration value="RECURRENT_DAY"/>
<xs:enumeration value="RECURRENT_WEEK"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="partnerAccessRights">
<xs:restriction base="xs:string">
<xs:enumeration value="EMPLOYEE"/>
<xs:enumeration value="MANAGER"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>