HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayReservationSystemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewItinerary">
<part name="parameters" element="tns:createNewItinerary"/>
</message>
<message name="createNewItineraryResponse">
<part name="parameters" element="tns:createNewItineraryResponse"/>
</message>
<message name="TransactionNotFoundException">
<part name="fault" element="tns:TransactionNotFoundException"/>
</message>
<message name="FlightSchedulePlanNotFoundException">
<part name="fault" element="tns:FlightSchedulePlanNotFoundException"/>
</message>
<message name="retrieveAllTransactionByCustomerId">
<part name="parameters" element="tns:retrieveAllTransactionByCustomerId"/>
</message>
<message name="retrieveAllTransactionByCustomerIdResponse">
<part name="parameters" element="tns:retrieveAllTransactionByCustomerIdResponse"/>
</message>
<message name="makePayment">
<part name="parameters" element="tns:makePayment"/>
</message>
<message name="makePaymentResponse">
<part name="parameters" element="tns:makePaymentResponse"/>
</message>
<message name="retrieveAllCreditCardCustomer">
<part name="parameters" element="tns:retrieveAllCreditCardCustomer"/>
</message>
<message name="retrieveAllCreditCardCustomerResponse">
<part name="parameters" element="tns:retrieveAllCreditCardCustomerResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="retrieveCreditCardById">
<part name="parameters" element="tns:retrieveCreditCardById"/>
</message>
<message name="retrieveCreditCardByIdResponse">
<part name="parameters" element="tns:retrieveCreditCardByIdResponse"/>
</message>
<message name="CreditCardNotFoundException">
<part name="fault" element="tns:CreditCardNotFoundException"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="searchSingleFlights">
<part name="parameters" element="tns:searchSingleFlights"/>
</message>
<message name="searchSingleFlightsResponse">
<part name="parameters" element="tns:searchSingleFlightsResponse"/>
</message>
<message name="NoFlightsAvailableException">
<part name="fault" element="tns:NoFlightsAvailableException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="retrieveFlightScheduleById">
<part name="parameters" element="tns:retrieveFlightScheduleById"/>
</message>
<message name="retrieveFlightScheduleByIdResponse">
<part name="parameters" element="tns:retrieveFlightScheduleByIdResponse"/>
</message>
<message name="searchTwoConnectionsFlight">
<part name="parameters" element="tns:searchTwoConnectionsFlight"/>
</message>
<message name="searchTwoConnectionsFlightResponse">
<part name="parameters" element="tns:searchTwoConnectionsFlightResponse"/>
</message>
<message name="checkFlightScheduleExist">
<part name="parameters" element="tns:checkFlightScheduleExist"/>
</message>
<message name="checkFlightScheduleExistResponse">
<part name="parameters" element="tns:checkFlightScheduleExistResponse"/>
</message>
<message name="CabinClassConfigurationNotFoundException">
<part name="fault" element="tns:CabinClassConfigurationNotFoundException"/>
</message>
<message name="retrieveAllItineraryItemByTransactionId">
<part name="parameters" element="tns:retrieveAllItineraryItemByTransactionId"/>
</message>
<message name="retrieveAllItineraryItemByTransactionIdResponse">
<part name="parameters" element="tns:retrieveAllItineraryItemByTransactionIdResponse"/>
</message>
<message name="createNewTransaction">
<part name="parameters" element="tns:createNewTransaction"/>
</message>
<message name="createNewTransactionResponse">
<part name="parameters" element="tns:createNewTransactionResponse"/>
</message>
<message name="searchOneConnectionFlights">
<part name="parameters" element="tns:searchOneConnectionFlights"/>
</message>
<message name="searchOneConnectionFlightsResponse">
<part name="parameters" element="tns:searchOneConnectionFlightsResponse"/>
</message>
<message name="getFarePerPax">
<part name="parameters" element="tns:getFarePerPax"/>
</message>
<message name="getFarePerPaxResponse">
<part name="parameters" element="tns:getFarePerPaxResponse"/>
</message>
<message name="rollBackSeatsToAvailable">
<part name="parameters" element="tns:rollBackSeatsToAvailable"/>
</message>
<message name="rollBackSeatsToAvailableResponse">
<part name="parameters" element="tns:rollBackSeatsToAvailableResponse"/>
</message>
<message name="SeatNotFoundException">
<part name="fault" element="tns:SeatNotFoundException"/>
</message>
<message name="reserveSeat">
<part name="parameters" element="tns:reserveSeat"/>
</message>
<message name="reserveSeatResponse">
<part name="parameters" element="tns:reserveSeatResponse"/>
</message>
<message name="SeatInventoryNotFoundException">
<part name="fault" element="tns:SeatInventoryNotFoundException"/>
</message>
<message name="SeatReservedException">
<part name="fault" element="tns:SeatReservedException"/>
</message>
<message name="retrieveTransactionById">
<part name="parameters" element="tns:retrieveTransactionById"/>
</message>
<message name="retrieveTransactionByIdResponse">
<part name="parameters" element="tns:retrieveTransactionByIdResponse"/>
</message>
<message name="createNewCreditCardCustomer">
<part name="parameters" element="tns:createNewCreditCardCustomer"/>
</message>
<message name="createNewCreditCardCustomerResponse">
<part name="parameters" element="tns:createNewCreditCardCustomerResponse"/>
</message>
<message name="retrieveSeatById">
<part name="parameters" element="tns:retrieveSeatById"/>
</message>
<message name="retrieveSeatByIdResponse">
<part name="parameters" element="tns:retrieveSeatByIdResponse"/>
</message>
<portType name="HolidayReservationSystemWebService">
<operation name="createNewItinerary">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewItineraryRequest" message="tns:createNewItinerary"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewItineraryResponse" message="tns:createNewItineraryResponse"/>
<fault message="tns:TransactionNotFoundException" name="TransactionNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewItinerary/Fault/TransactionNotFoundException"/>
<fault message="tns:FlightSchedulePlanNotFoundException" name="FlightSchedulePlanNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewItinerary/Fault/FlightSchedulePlanNotFoundException"/>
</operation>
<operation name="retrieveAllTransactionByCustomerId">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveAllTransactionByCustomerIdRequest" message="tns:retrieveAllTransactionByCustomerId"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveAllTransactionByCustomerIdResponse" message="tns:retrieveAllTransactionByCustomerIdResponse"/>
</operation>
<operation name="makePayment">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/makePaymentRequest" message="tns:makePayment"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/makePaymentResponse" message="tns:makePaymentResponse"/>
</operation>
<operation name="retrieveAllCreditCardCustomer">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveAllCreditCardCustomerRequest" message="tns:retrieveAllCreditCardCustomer"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveAllCreditCardCustomerResponse" message="tns:retrieveAllCreditCardCustomerResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveAllCreditCardCustomer/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveCreditCardById">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveCreditCardByIdRequest" message="tns:retrieveCreditCardById"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveCreditCardByIdResponse" message="tns:retrieveCreditCardByIdResponse"/>
<fault message="tns:CreditCardNotFoundException" name="CreditCardNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveCreditCardById/Fault/CreditCardNotFoundException"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/login/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="searchSingleFlights">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchSingleFlightsRequest" message="tns:searchSingleFlights"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchSingleFlightsResponse" message="tns:searchSingleFlightsResponse"/>
<fault message="tns:NoFlightsAvailableException" name="NoFlightsAvailableException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchSingleFlights/Fault/NoFlightsAvailableException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchSingleFlights/Fault/ParseException"/>
</operation>
<operation name="retrieveFlightScheduleById">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveFlightScheduleByIdRequest" message="tns:retrieveFlightScheduleById"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveFlightScheduleByIdResponse" message="tns:retrieveFlightScheduleByIdResponse"/>
<fault message="tns:FlightSchedulePlanNotFoundException" name="FlightSchedulePlanNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveFlightScheduleById/Fault/FlightSchedulePlanNotFoundException"/>
</operation>
<operation name="searchTwoConnectionsFlight">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchTwoConnectionsFlightRequest" message="tns:searchTwoConnectionsFlight"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchTwoConnectionsFlightResponse" message="tns:searchTwoConnectionsFlightResponse"/>
<fault message="tns:NoFlightsAvailableException" name="NoFlightsAvailableException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchTwoConnectionsFlight/Fault/NoFlightsAvailableException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchTwoConnectionsFlight/Fault/ParseException"/>
</operation>
<operation name="checkFlightScheduleExist">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/checkFlightScheduleExistRequest" message="tns:checkFlightScheduleExist"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/checkFlightScheduleExistResponse" message="tns:checkFlightScheduleExistResponse"/>
<fault message="tns:FlightSchedulePlanNotFoundException" name="FlightSchedulePlanNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/checkFlightScheduleExist/Fault/FlightSchedulePlanNotFoundException"/>
<fault message="tns:CabinClassConfigurationNotFoundException" name="CabinClassConfigurationNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/checkFlightScheduleExist/Fault/CabinClassConfigurationNotFoundException"/>
</operation>
<operation name="retrieveAllItineraryItemByTransactionId">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveAllItineraryItemByTransactionIdRequest" message="tns:retrieveAllItineraryItemByTransactionId"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveAllItineraryItemByTransactionIdResponse" message="tns:retrieveAllItineraryItemByTransactionIdResponse"/>
</operation>
<operation name="createNewTransaction">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewTransactionRequest" message="tns:createNewTransaction"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewTransactionResponse" message="tns:createNewTransactionResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewTransaction/Fault/CustomerNotFoundException"/>
</operation>
<operation name="searchOneConnectionFlights">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchOneConnectionFlightsRequest" message="tns:searchOneConnectionFlights"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchOneConnectionFlightsResponse" message="tns:searchOneConnectionFlightsResponse"/>
<fault message="tns:NoFlightsAvailableException" name="NoFlightsAvailableException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchOneConnectionFlights/Fault/NoFlightsAvailableException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchOneConnectionFlights/Fault/ParseException"/>
</operation>
<operation name="getFarePerPax">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getFarePerPaxRequest" message="tns:getFarePerPax"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getFarePerPaxResponse" message="tns:getFarePerPaxResponse"/>
</operation>
<operation name="rollBackSeatsToAvailable">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/rollBackSeatsToAvailableRequest" message="tns:rollBackSeatsToAvailable"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/rollBackSeatsToAvailableResponse" message="tns:rollBackSeatsToAvailableResponse"/>
<fault message="tns:SeatNotFoundException" name="SeatNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/rollBackSeatsToAvailable/Fault/SeatNotFoundException"/>
</operation>
<operation name="reserveSeat">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeatRequest" message="tns:reserveSeat"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeatResponse" message="tns:reserveSeatResponse"/>
<fault message="tns:SeatInventoryNotFoundException" name="SeatInventoryNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeat/Fault/SeatInventoryNotFoundException"/>
<fault message="tns:SeatNotFoundException" name="SeatNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeat/Fault/SeatNotFoundException"/>
<fault message="tns:SeatReservedException" name="SeatReservedException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeat/Fault/SeatReservedException"/>
</operation>
<operation name="retrieveTransactionById">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveTransactionByIdRequest" message="tns:retrieveTransactionById"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveTransactionByIdResponse" message="tns:retrieveTransactionByIdResponse"/>
<fault message="tns:TransactionNotFoundException" name="TransactionNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveTransactionById/Fault/TransactionNotFoundException"/>
</operation>
<operation name="createNewCreditCardCustomer">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewCreditCardCustomerRequest" message="tns:createNewCreditCardCustomer"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewCreditCardCustomerResponse" message="tns:createNewCreditCardCustomerResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/createNewCreditCardCustomer/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveSeatById">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveSeatByIdRequest" message="tns:retrieveSeatById"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveSeatByIdResponse" message="tns:retrieveSeatByIdResponse"/>
<fault message="tns:SeatNotFoundException" name="SeatNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveSeatById/Fault/SeatNotFoundException"/>
</operation>
</portType>
<binding name="HolidayReservationSystemWebServicePortBinding" type="tns:HolidayReservationSystemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TransactionNotFoundException">
<soap:fault name="TransactionNotFoundException" use="literal"/>
</fault>
<fault name="FlightSchedulePlanNotFoundException">
<soap:fault name="FlightSchedulePlanNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllTransactionByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makePayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllCreditCardCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveCreditCardById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardNotFoundException">
<soap:fault name="CreditCardNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="searchSingleFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoFlightsAvailableException">
<soap:fault name="NoFlightsAvailableException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="retrieveFlightScheduleById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightSchedulePlanNotFoundException">
<soap:fault name="FlightSchedulePlanNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchTwoConnectionsFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoFlightsAvailableException">
<soap:fault name="NoFlightsAvailableException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="checkFlightScheduleExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightSchedulePlanNotFoundException">
<soap:fault name="FlightSchedulePlanNotFoundException" use="literal"/>
</fault>
<fault name="CabinClassConfigurationNotFoundException">
<soap:fault name="CabinClassConfigurationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllItineraryItemByTransactionId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchOneConnectionFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoFlightsAvailableException">
<soap:fault name="NoFlightsAvailableException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getFarePerPax">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rollBackSeatsToAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SeatNotFoundException">
<soap:fault name="SeatNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="reserveSeat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SeatInventoryNotFoundException">
<soap:fault name="SeatInventoryNotFoundException" use="literal"/>
</fault>
<fault name="SeatNotFoundException">
<soap:fault name="SeatNotFoundException" use="literal"/>
</fault>
<fault name="SeatReservedException">
<soap:fault name="SeatReservedException" use="literal"/>
</fault>
</operation>
<operation name="retrieveTransactionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TransactionNotFoundException">
<soap:fault name="TransactionNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewCreditCardCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveSeatById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SeatNotFoundException">
<soap:fault name="SeatNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HolidayReservationSystemWebService">
<port name="HolidayReservationSystemWebServicePort" binding="tns:HolidayReservationSystemWebServicePortBinding">
<soap:address location="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService"/>
</port>
</service>
</definitions>