HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayReservationSystemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="searchSingleFlights">
<part name="parameters" element="tns:searchSingleFlights"/>
</message>
<message name="searchSingleFlightsResponse">
<part name="parameters" element="tns:searchSingleFlightsResponse"/>
</message>
<message name="NoFlightsAvailableException">
<part name="fault" element="tns:NoFlightsAvailableException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="retrieveFlightScheduleById">
<part name="parameters" element="tns:retrieveFlightScheduleById"/>
</message>
<message name="retrieveFlightScheduleByIdResponse">
<part name="parameters" element="tns:retrieveFlightScheduleByIdResponse"/>
</message>
<message name="FlightSchedulePlanNotFoundException">
<part name="fault" element="tns:FlightSchedulePlanNotFoundException"/>
</message>
<message name="searchTwoConnectionsFlight">
<part name="parameters" element="tns:searchTwoConnectionsFlight"/>
</message>
<message name="searchTwoConnectionsFlightResponse">
<part name="parameters" element="tns:searchTwoConnectionsFlightResponse"/>
</message>
<message name="checkFlightScheduleExist">
<part name="parameters" element="tns:checkFlightScheduleExist"/>
</message>
<message name="checkFlightScheduleExistResponse">
<part name="parameters" element="tns:checkFlightScheduleExistResponse"/>
</message>
<message name="CabinClassConfigurationNotFoundException">
<part name="fault" element="tns:CabinClassConfigurationNotFoundException"/>
</message>
<message name="searchOneConnectionFlights">
<part name="parameters" element="tns:searchOneConnectionFlights"/>
</message>
<message name="searchOneConnectionFlightsResponse">
<part name="parameters" element="tns:searchOneConnectionFlightsResponse"/>
</message>
<message name="getFarePerPax">
<part name="parameters" element="tns:getFarePerPax"/>
</message>
<message name="getFarePerPaxResponse">
<part name="parameters" element="tns:getFarePerPaxResponse"/>
</message>
<message name="rollBackSeatsToAvailable">
<part name="parameters" element="tns:rollBackSeatsToAvailable"/>
</message>
<message name="rollBackSeatsToAvailableResponse">
<part name="parameters" element="tns:rollBackSeatsToAvailableResponse"/>
</message>
<message name="SeatNotFoundException">
<part name="fault" element="tns:SeatNotFoundException"/>
</message>
<message name="reserveSeat">
<part name="parameters" element="tns:reserveSeat"/>
</message>
<message name="reserveSeatResponse">
<part name="parameters" element="tns:reserveSeatResponse"/>
</message>
<message name="SeatInventoryNotFoundException">
<part name="fault" element="tns:SeatInventoryNotFoundException"/>
</message>
<message name="SeatReservedException">
<part name="fault" element="tns:SeatReservedException"/>
</message>
<portType name="HolidayReservationSystemWebService">
<operation name="login">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/login/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="searchSingleFlights">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchSingleFlightsRequest" message="tns:searchSingleFlights"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchSingleFlightsResponse" message="tns:searchSingleFlightsResponse"/>
<fault message="tns:NoFlightsAvailableException" name="NoFlightsAvailableException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchSingleFlights/Fault/NoFlightsAvailableException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchSingleFlights/Fault/ParseException"/>
</operation>
<operation name="retrieveFlightScheduleById">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveFlightScheduleByIdRequest" message="tns:retrieveFlightScheduleById"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveFlightScheduleByIdResponse" message="tns:retrieveFlightScheduleByIdResponse"/>
<fault message="tns:FlightSchedulePlanNotFoundException" name="FlightSchedulePlanNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/retrieveFlightScheduleById/Fault/FlightSchedulePlanNotFoundException"/>
</operation>
<operation name="searchTwoConnectionsFlight">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchTwoConnectionsFlightRequest" message="tns:searchTwoConnectionsFlight"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchTwoConnectionsFlightResponse" message="tns:searchTwoConnectionsFlightResponse"/>
<fault message="tns:NoFlightsAvailableException" name="NoFlightsAvailableException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchTwoConnectionsFlight/Fault/NoFlightsAvailableException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchTwoConnectionsFlight/Fault/ParseException"/>
</operation>
<operation name="checkFlightScheduleExist">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/checkFlightScheduleExistRequest" message="tns:checkFlightScheduleExist"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/checkFlightScheduleExistResponse" message="tns:checkFlightScheduleExistResponse"/>
<fault message="tns:FlightSchedulePlanNotFoundException" name="FlightSchedulePlanNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/checkFlightScheduleExist/Fault/FlightSchedulePlanNotFoundException"/>
<fault message="tns:CabinClassConfigurationNotFoundException" name="CabinClassConfigurationNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/checkFlightScheduleExist/Fault/CabinClassConfigurationNotFoundException"/>
</operation>
<operation name="searchOneConnectionFlights">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchOneConnectionFlightsRequest" message="tns:searchOneConnectionFlights"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchOneConnectionFlightsResponse" message="tns:searchOneConnectionFlightsResponse"/>
<fault message="tns:NoFlightsAvailableException" name="NoFlightsAvailableException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchOneConnectionFlights/Fault/NoFlightsAvailableException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/searchOneConnectionFlights/Fault/ParseException"/>
</operation>
<operation name="getFarePerPax">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getFarePerPaxRequest" message="tns:getFarePerPax"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/getFarePerPaxResponse" message="tns:getFarePerPaxResponse"/>
</operation>
<operation name="rollBackSeatsToAvailable">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/rollBackSeatsToAvailableRequest" message="tns:rollBackSeatsToAvailable"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/rollBackSeatsToAvailableResponse" message="tns:rollBackSeatsToAvailableResponse"/>
<fault message="tns:SeatNotFoundException" name="SeatNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/rollBackSeatsToAvailable/Fault/SeatNotFoundException"/>
</operation>
<operation name="reserveSeat">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeatRequest" message="tns:reserveSeat"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeatResponse" message="tns:reserveSeatResponse"/>
<fault message="tns:SeatInventoryNotFoundException" name="SeatInventoryNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeat/Fault/SeatInventoryNotFoundException"/>
<fault message="tns:SeatNotFoundException" name="SeatNotFoundException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeat/Fault/SeatNotFoundException"/>
<fault message="tns:SeatReservedException" name="SeatReservedException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/reserveSeat/Fault/SeatReservedException"/>
</operation>
</portType>
<binding name="HolidayReservationSystemWebServicePortBinding" type="tns:HolidayReservationSystemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="searchSingleFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoFlightsAvailableException">
<soap:fault name="NoFlightsAvailableException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="retrieveFlightScheduleById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightSchedulePlanNotFoundException">
<soap:fault name="FlightSchedulePlanNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchTwoConnectionsFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoFlightsAvailableException">
<soap:fault name="NoFlightsAvailableException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="checkFlightScheduleExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightSchedulePlanNotFoundException">
<soap:fault name="FlightSchedulePlanNotFoundException" use="literal"/>
</fault>
<fault name="CabinClassConfigurationNotFoundException">
<soap:fault name="CabinClassConfigurationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchOneConnectionFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoFlightsAvailableException">
<soap:fault name="NoFlightsAvailableException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getFarePerPax">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rollBackSeatsToAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SeatNotFoundException">
<soap:fault name="SeatNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="reserveSeat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SeatInventoryNotFoundException">
<soap:fault name="SeatInventoryNotFoundException" use="literal"/>
</fault>
<fault name="SeatNotFoundException">
<soap:fault name="SeatNotFoundException" use="literal"/>
</fault>
<fault name="SeatReservedException">
<soap:fault name="SeatReservedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HolidayReservationSystemWebService">
<port name="HolidayReservationSystemWebServicePort" binding="tns:HolidayReservationSystemWebServicePortBinding">
<soap:address location="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService"/>
</port>
</service>
</definitions>